
<footer class="text-gray-600 body-font w-full">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <img class="h-8" src="/images/bin.png" />
      <span class="ml-3 text-xl">SmartBin</span>
    </a>
    
  </div>
</footer>

